<div class="container">
  <div class="row">
    <div class="col-md-4" ng-controller="activeController">
      <ul class="nav nav-pills nav-stacked">
        <li ng-class="{active:isActive('/')}">
          <a href="#/">Quality</a>
        </li>
        <li ng-class="{active:isActive('/about')}">
          <a href="#/about">Planeacion</a>
        </li>
        <li ng-class="{active:isActive('/contact')}">
          <a href="#/contact">Engineering</a>
        </li>
      </ul>
    </div>
    <div class="col-md-8">
      <ul class="media-list">
        <div ng-view></div>
      </ul>
    </div>
  </div>
</div>
