<div class="container">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-ex-collapse" ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#">
      <span>HLI / Kamishibai</span>
    </a>
  </div>
  <div class="collapse navbar-collapse" id="navbar-ex-collapse" uib-collapse="navCollapsed">
    <ul class="nav navbar-nav navbar-right">
      <li class="active">
        <a href="#/">Home</a>
      </li>
      <li>
        <a ng-hide="uid" href="#/login">Login</a>
        <a ng-show="uid" ng-click="logout()" href="#/">logout</a>
      </li>
    </ul>
  </div>
</div>
