<div ng-controller="TasksController as store">
  <h1>{{store.products[0].departamento}}
    | Standard Work</h1>
<li class="media" ng-repeat="product in store.products">
  <a class="pull-left" href="#">
    <img class="media-object" height="64" src="http://www.shoreinvestmentgroup.com/wp-content/uploads/2014/07/user-icon-silhouette.png" width="64">
  </a>
  <div class="media-body">
    <h4 class="media-heading">{{ product.nombreUsuario }}</h4>
    <div class="nav nav-pills">
      <uib-tabset>
        <uib-tab active="tab.active" disable="tab.disabled" heading="{{tab.tipo}}" ng-repeat="tab in product.tareas">
          <table class="table table-striped table-hover">
            <thead>
              <tr>
                <th>Status</th>
                <th>Task</th>
                <th>Done</th>
              </tr>
            </thead>
            <tbody ng-repeat="task in tab.content">
              <tr>
                <td ng-class="{'finished': task.completa === 'true', 'notFinished': task.completa === 'false'}">
                  <input
                   ng-disabled="product.isDisabled"
                   ng-disabled="true"
                   disabled="true"
                   ng-click="cambiar(task); cambiarFecha(task);"
                   ng-checked="task.completa=='true'"
                   ng-false-value="'false'"
                   ng-true-value="'true'"
                   ng-model="task.completa"
                   value="{{task.completa}}"
                   type="checkbox"
                   ></input>
                </td>
                <td ng-class="{'finished': task.completa === 'true', 'notFinished': task.completa === 'false'}">{{task.descripcion}}</td>
                <td ng-class="{'finished': task.completa === 'true', 'notFinished': task.completa === 'false'}">{{task.horaDeTermino}}</td>
              </tr>
            </tbody>
          </table>
        </uib-tab>
      </uib-tabset>
    </div>
  </div>
</li>
</div>
