.navbar-inverse {
  background-color: #BF5700;
}
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
  background-color: #883E00;
}
.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
  background-color: #883E00;
}
.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
  background-color: #BF5700;
}
a {
  color: #000000;
}
a:hover {
  color: #000000;
  background-color: #f8fa96;
}
.finished {
  background-color: #359A0C;
}
.notFinished {
  background-color: #C93A3A;
}
